.Work {
  &__project {
    @apply flex flex-col justify-center p-6 rounded-sm text-white h-full relative leading-tight;
    background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.75)
    );
    background-size: cover;
  }

  &__project-bg {
    @apply absolute left-0 right-0 block w-full h-full bg-cover bg-center rounded-sm -z-10;
    filter: blur(2px);

    &--blur {
      filter: blur(8px);
      z-index: -2;
    }
  }
}
