* {
  box-sizing: border-box;
}

.monospace {
  font-family: "Space Mono", monospace;
}

body {
  margin: 0;
  font-family: "Baloo 2", sans-serif;
}

h1,
h2 {
  @apply monospace;
}

.my-a {
  color: $primary;
  text-decoration: $primary solid underline;
  text-underline-position: under;
  font-weight: 600;
}

.my-section-heading {
  @apply inline-block text-3xl font-bold mb-6;
}

.my-text-black {
  @apply;
  color: $dark;
}

.my-w-content {
  width: 80%;
}

.my-max-w-content {
  max-width: 1400px;
}

.my-text-primary {
  color: $primary;
}

.-z-10 {
  z-index: -10;
}

.-z-20 {
  z-index: -20;
}
