* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Code", monospace;
}

.my-a {
  color: $primary;
  //   position: relative;
  text-decoration: $primary solid underline;
  text-underline-position: under;
  font-weight: 600;
}
