@import "tailwindcss/base";
@import "tailwindcss/components";

@import "pages/header/header.scss";
@import "pages/about/about.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Code", monospace;
}

@import "tailwindcss/utilities";
