.Header {
  @apply flex justify-center relative;

  height: 98vh;
  background-color: #f6f8fa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='10' height='10' fill='%23cccccc'/%3E%3C/svg%3E");

  &__content {
    @apply flex flex-col justify-center items-center h-full absolute z-10 static;

    max-width: 70vw;

    @screen lg {
      @apply w-3/5;
    }
  }

  &__bg {
    @apply w-full h-full absolute;

    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.6)
      ),
      url("../../../public/images/header.jpg");
    background-position: center;
    background-size: cover;

    @screen lg {
      @apply w-2/5 static;
      background-image: url("../../../public/images/header.jpg");
      clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}
