.About {
  @apply flex justify-center z-10 relative text-white;
  margin-top: -$skewHeight;
  padding: calc(#{$skewHeight} + 2rem) 0;

  background: url("../../public/background_dark.svg");
  clip-path: polygon(0% 0%, 100% $skewHeight - 2px, 100% 100%, 0% 100%);

  &__content {
    @apply flex flex-col my-max-w-content my-w-content;
  }

  &__grid {
    @apply grid gap-12 justify-center;
    grid-template-columns: repeat(1, minmax(0, 30rem));

    @screen lg {
      @apply justify-between;
      grid-template-columns: repeat(3, minmax(0, 20rem));
    }
  }
}
